*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}


/* mobile style  */
.recc_body{
    /* background-color: white; */
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recc_content{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

option, center, h1{
    background-color: transparent;
}

.input_container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.input_name{
    color: black;
    background-color: transparent;
    font-size: 1.6em;
}

.input_value{
    background-color: transparent;
    color: black;
    font-size: 1.6em;
    line-height: 1.4em;
    border: 2px solid black;
    border-radius: 10px;
    width: 95%;
    padding: 0 4px;
    text-align: center;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
    .recc_body{
        height: 690px;
    }

    .input_container{
        width: 80%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 8px 0;
    }

    .input_name{
        width: 30%;
    }

    .input_value{
        width: 70%;
        padding: 0 8px;
        text-align: justify;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}